body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEEEB;
}

header{
    background-color: #011F4B;
}

.header_logo img{
    width: 200px;
    height: 100px;
}

.header_logo h1{
    color: #ECEEEB;
    padding: 0;
    margin-bottom: 0;
}

.col1of2 h1{
    display: inline;
    font-size: 30px;
    position: absolute;
    padding-left: 5px;
}

.login_buttons{
    text-align: right;
    padding: 20px;
}

/* Large Resolutions */
@media only screen and (min-width: 768px) {
    .flex-container{
        display: flex;
    }

    .col1of2{
        flex: 1;
    }
}

/* Small Resolutions */
@media only screen and (max-width: 767px) {
    .login_buttons{
        display: none;
    }
}